/**FONTS**/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap) format("woff");
}
/**COLORS**/
:root {
  --success: #04724D;
  --warning: #FF9F1C;
  --addedcolor: #EBEAE1;
  --subtext-light: #dee2e6;
  --subtext-dark: #3C4048;
  --error: #A4303F;
  --fontcolor: #222222;
  --backgroundcolor: #FFFCE8;
}

body {
  margin: 0%;
  padding: 0%;
  background-image: url("/Backend/Login/Assets/Registration.png");
  background: #222222;
  min-height: 100vh;
  box-sizing: border-box;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.reg-container {
  width: 450px;
  height: auto;
  padding: 24px;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroundcolor);
}
.reg-container .title {
  font-size: 36px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--fontcolor);
}
.reg-container .sub-title {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  color: var(--subtext-dark);
  margin: 0;
  padding: 0;
}

.row-nameField, .row-addField, .row-bookingDetails {
  padding-bottom: 24px;
}
.row-nameField label, .row-addField label, .row-bookingDetails label {
  font-size: 14px;
  font-weight: 600;
  color: var(--fontcolor);
}
.row-nameField input, .row-addField input, .row-bookingDetails input {
  font-size: 16px;
  height: 16px;
  width: 45%;
  padding: 4px;
  padding-left: 6px;
  border: none;
  background-color: var(--addedcolor);
  font-family: "Poppins", sans-serif;
}

.row-nameField {
  justify-content: center;
}
.row-nameField .lastName, .row-nameField .firstName {
  padding-bottom: 12px;
}

.row-addField .housNum, .row-addField .streetSubdi, .row-addField .inputBrgy {
  padding-bottom: 12px;
}

.row-otherDetails label {
  font-size: 14px;
  font-weight: 600;
  color: var(--fontcolor);
}
.row-otherDetails .inputEmail input, .row-otherDetails .contactNum input, .row-otherDetails .birthDate input, .row-otherDetails .inputNationality input {
  font-size: 16px;
  height: 16px;
  width: 45%;
  padding: 4px;
  padding-left: 6px;
  border: none;
  background-color: var(--addedcolor);
  font-family: "Poppins", sans-serif;
}

.inputGender .IGEN {
  height: 14px;
  width: auto;
  padding-right: 24px;
}

.rowPrivacy label {
  font-size: 14px;
}
.rowPrivacy #agree {
  width: 14px;
  height: auto;
  margin: 2px 0 0 0;
  padding: 0;
}
.rowPrivacy .subtxt {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.error {
  color: red;
  font-size: 10px;
  font-style: italic;
}/*# sourceMappingURL=registration.css.map */